body {
    margin: 0;
    padding: 0;
    padding-top: 54px;
    background-color: #ffffff;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.content-container {
    min-height: 800px;
    margin-top: 60px;
}

.no-data-to-display-text {
    text-align: center;
}

.portfolio-item {
    margin-bottom: 30px;
}

.ms-DocumentCardTitle {
    font-size: 15px !important;
}

.contract-preview-panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 650px;
}

.contract-card:hover {
    border: 1px solid;
}

/* Contract Editing */

.paragraph-tile {
    border: 1px solid #eaeaea;
    padding: 5px;
}

.body-tile,
.section-title-tile,
.title-tile {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding: 5px;
}

.body-tile,
.section-title-tile {
    margin-bottom: 5px;
}

.title-tile-center {
    text-align: center;
}

.body-tile:hover,
.title-tile:hover,
.section-title-tile:hover {
    opacity: 1;
    background-color: #f4f4f4;
    cursor: pointer;
}

/* HOW TO MAKE SOMETHING FADE */

/* .contract-title-tile-details{
  transition: .5s ease;
  opacity: 0;
  float: left;
  text-align: center;
}

.contract-title-tile:hover~.contract-title-tile-details{
  opacity: 1;
} */

/* Scrolling to top*/

.scroll {
    opacity: 0.3;
    background-color: #a6a6a6;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.scroll:hover {
    opacity: 1;
}

/* Edit Info callout */

.info-callout {
    position: absolute;
    z-index: 10;
    transition: .5s ease;
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    width: 240px;
    left: 70%;
}

/* display-type-row */

.display-type-row {
    text-align: right;
}

/* Tile delimiter */

.tile-delimiter {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #666666;
    text-align: center;
}

.tile-delimiter-text {
    font-size: 12px;
    background-color: #ffffff;
    padding: 0 5px;
}