body {
    padding-top: 54px;
    background-color: #eaeaea;
}

.content {
    padding: 10px;
    max-width: 800px;
    max-height: 1200px;
    height: 1000px;
    overflow: scroll;
    margin: auto;
    background-color: #f8f8f8;
}

.text-block-display {
    margin: auto;
    width: 92%;
}

.action-button-display {
    background-color: #dadada;
    margin-left: 36px;
}

.action-button-display-refresh {
    background-color: #dadada;
    padding-left: 15px;
    margin-left: 10px;
}

.password-display-text {
    display: none;
}

.password-display {
    background-color: #dadada;
    margin: auto;
    width: 76%;
    text-align: center;
    margin-left: 64px;
}

.copy-passwords-row {
    background-color: #dadada;
    margin: auto;
    width: 76%;
    text-align: center;
    margin-left: 64px;
}

.copy-password-button {
    background-color: #dadada;
    margin: auto;
}

.text-block-reset {
    float: right !important;
}

.app-title {
    margin: auto;
    width: 65%;
}

.custom-message-bar {
    position: fixed;
    bottom: 0;
    width: 40%;
    height: 10%;
}