body {
    padding-top: 54px;
    background-color: burlywood;
}

.content{
    padding: 10px;
    max-width: 500px;
    max-height: 1600px;
    height: 800px;    
    margin: auto;
    background-color: azure;
}